radmc3dPy-0.28.1
radmc3dPy
.DS*
__*
*.pyc
*.gz
*.aux
*.fdb_latexmk
*.fls
*.latex
*.nfs
*.mask
*.region
*.mask
*.image
*.residual



Modeling/model_files
Modeling/data_files
Imaging/uncorrected_data_files

Imaging/old_cleans_seperate
Imaging/old_cleans_composite

Imaging/Visibility_processing
Imaging/aumic_ALL

!Notes/Figures/*
