SED_plotter.py
radmc3dPy-0.28.1
.DS*
__*
*.pyc
*.gz
*.aux
*.fdb_latexmk
*.fls
*.latex
*.nfs



radmc3dPy
Modeling/model_files
Modeling/data_files
Imaging/uncorrected_data_files
Imaging/composite_cleans_old
Imaging/seperate_cleans_old
Imaging/Visibility_processing
Imaging/aumic_ALL

!aumic_model_image*
!Notes/logo.png
